* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 1.5em;
}
body a {
  text-decoration: none;
  font-size: 1.3rem;
}

.heroImg {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/trashBags.jpg);
  width: 100%;
  height: 110vh;
  z-index: -10;
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
}

.nameMenu {
  color: #233e97;
  font-weight: bold;
  margin-top: 0.6rem;
}

header {
  display: flex;
  justify-content: space-between;
}
header #menu {
  width: 3em;
  font-size: 1.7em;
  cursor: pointer;
  color: #233e97;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  text-transform: uppercase;
  transform: translateX(100%);
  z-index: 10;
}

section.hero .cont {
  color: #233e97;
  height: 100vh;
}
section.hero .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60em;
  margin-bottom: 15em;
  height: 45em;
  width: 45em;
}

h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.4rem;
  margin-top: 0.5em;
  color: black;
}

.circle {
  position: absolute;
  height: 20em;
  width: 20em;
  background-color: #ffde59;
  border-radius: 50%;
  display: inline-block;
  top: 8%;
  left: -3.5em;
  z-index: -4;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 5em;
}
ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
}
ul a:hover {
  background: #233e97;
  color: #ffde59;
}

#close {
  position: absolute;
  margin: 2em;
  right: 0.1em;
  top: -1em;
  font-size: 1.5rem;
}

.services h1 {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  color: #233e97;
  margin-bottom: 5rem;
}
.services #bins, .services #paperBin {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 22em;
  margin-bottom: 2.5em;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
.services #bagsLawn {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 22em;
  margin-bottom: 2.5em;
  -o-object-position: 0 50%;
     object-position: 0 50%;
}
.services .topic {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.services .info {
  font-size: 1.25rem;
  line-height: 2rem;
}
.services .infoL {
  font-size: 1.25rem;
  line-height: 2rem;
}
.services .infoDot {
  position: absolute;
  height: 20em;
  width: 20em;
  background-color: #ffde59;
  border-radius: 50%;
  display: inline-block;
  top: 82em;
  left: 14em;
  z-index: -3;
}
.services .hexa {
  position: absolute;
  top: 5.54em;
  left: 0.85em;
  z-index: -3;
}
.services .infoDot2 {
  position: absolute;
  height: 20em;
  width: 20em;
  background-color: #ffde59;
  border-radius: 50%;
  display: inline-block;
  top: 158em;
  left: 14em;
  z-index: -3;
}
.services .getStarted {
  display: block;
  border: none;
  height: 3em;
  background-color: #ffde59;
  width: 10em;
  color: #233e97;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 5px 5px 3px #233e97;
  margin: 0 auto;
}

.calendarS > .calendarH {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  color: #233e97;
  margin-bottom: -7em;
  text-shadow: 3px 3px 1px #ffde59;
}

.container {
  margin: 10em 50%;
  width: 0;
  height: 100vh;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 30rem;
  height: 37rem;
  background-color: rgb(71, 71, 71);
  box-shadow: 0 0.5rem 3rem black(0, 0, 0, 0.4);
  border-radius: 5px;
}

.month {
  width: 100%;
  height: 8rem;
  background-color: #233e97;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem black(0, 0, 0, 0.5);
  border-radius: 5px;
}
.month i {
  margin: 0 30px;
  font-size: 2.5rem;
  cursor: pointer;
}
.month h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 5px;
  margin-bottom: 0rem;
}
.month p {
  font-size: 1.2rem;
}

.weekdays {
  width: 100%;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: 4.2857142857rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.3rem 0.5rem black 0, 0, 0, 0.5;
}

.days {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1rem;
  margin: 0.2rem;
  width: 3.8285714286rem;
  height: 3.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem black(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.prev-date, .next-date {
  opacity: 0.5;
}

.today {
  background-color: #ffde59;
  cursor: pointer;
  color: black;
}

.days div:hover:not(.today) {
  background-color: #233e97;
  border: 0.2rem solid gray;
}

section.break .breakImg {
  position: absolute;
  top: 310%;
  background: url(../images/Hero.png);
  width: 100%;
  height: 40%;
  z-index: -10;
  background-size: cover;
  background-position: 0 30%;
}
section.break p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18rem 10rem;
}
section.break #downArrow {
  position: absolute;
  margin: 0.25em;
  top: 31em;
  font-size: 7rem;
  color: black;
  stroke: gray;
  stroke-width: 0.05rem;
}

.breakTxt {
  text-align: center;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: bold;
  color: #233e97;
  text-shadow: 3px 3px 1px #ffde59;
}

.contactUs h1 {
  text-align: center;
  margin-top: -12rem;
  padding: 0;
  text-transform: uppercase;
  color: #233e97;
  margin-bottom: 5rem;
}

.rectContact {
  display: flex;
  justify-content: center;
}
.rectContact label {
  display: block;
  text-align: right;
  width: 10em;
  float: left;
  margin-right: 1em;
  font-size: 1.3rem;
  font-weight: bold;
  color: #233e97;
}
.rectContact input, .rectContact textarea, .rectContact select {
  font-weight: 400;
  margin: 0 2em;
  display: block;
  width: 20em;
  min-height: 2em;
  margin-bottom: 3em;
}
.rectContact input[type=submit] {
  display: block;
  width: 20em;
  margin-left: 6em;
  margin-top: 3em;
  font-size: 1.5rem;
  background-color: #233e97;
  border-color: #233e97;
  color: #ffde59;
  box-shadow: 2px 2px 1px black;
}

footer {
  width: 100%;
  background-color: lightgray;
  text-align: center;
  font-size: 1.2rem;
}
footer a {
  color: #233e97;
  text-decoration: underline;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 2em 5em;
  }
  .services #paperBin, .services #bagsLawn {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 22em;
    margin-bottom: 2.5em;
    -o-object-position: 0 50%;
       object-position: 0 50%;
  }
  .services .hexa {
    top: 5.35em;
  }
  .services .infoDot2 {
    top: 145em;
  }
  section.break p {
    margin-bottom: 25rem;
  }
}
@media only screen and (min-width: 920px) {
  #menu {
    display: none;
  }
  nav {
    transform: translateX(0%);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav #close {
    display: none;
  }
  ul {
    display: flex;
    margin: 0;
  }
  ul a {
    color: #233e97;
    padding: 0.5em 1.5em;
    font-size: 1.5rem;
    font-weight: bold;
  }
  ul a:hover {
    background: none;
    text-decoration: underline;
    color: #233e97;
  }
  .nameMenu {
    font-size: 1.5rem;
    color: #ffde59;
    text-shadow: 1px 1px 2px rgb(70, 70, 70);
  }
  .nameMenu span {
    color: #233e97;
  }
  .cont {
    color: #233e97;
    height: 100vh;
    text-align: center;
  }
  .cont h1 {
    position: absolute;
    right: 5rem;
    font-size: 5rem;
    width: 50%;
    line-height: 6rem;
    text-shadow: 3px 3px 2px rgb(71, 71, 71);
  }
  .cont p {
    color: #233e97;
    position: absolute;
    top: 28rem;
    right: 10rem;
    width: 35%;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .circle {
    left: unset;
    right: 20%;
    top: 14em;
  }
  .heroImg {
    left: unset;
    right: 0;
    width: 60%;
    height: 70vh;
  }
  .logoMainDiv {
    position: absolute;
    left: 2em;
    top: 65em;
  }
  .services {
    margin-top: -20rem;
  }
  .services #bins {
    -o-object-position: 0 85%;
       object-position: 0 85%;
  }
}/*# sourceMappingURL=main.css.map */