*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    margin: 1.5em;
    a{
        text-decoration: none;
        font-size: 1.3rem;
    }
}
//NAV AND HERO SECTION %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
.heroImg{
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/trashBags.jpg);
    width: 100%;
    height: 110vh;
    z-index: -10;
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    // overflow: hidden;
}

.nameMenu{
    color: #233e97;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
    #menu{
        width: 3em;
        font-size: 1.7em;
        cursor: pointer;
        color: #233e97;
    }
}

nav{ //%&%&%&%&%&%&%&%&%&%&%&%&&% THIS IS THE SIDE MENU ON MOBILE 
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    text-transform: uppercase;
    transform: translateX(100%);
    z-index: 10;
}

section.hero{
    .cont{
        color: #233e97;
        height: 100vh;
    }
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -60em;
        margin-bottom: 15em;
        // position: absolute;
        // top: 20em;
        // left: -3.3em;
        height: 45em;
        width: 45em;
    }
}
h1{
    font-size: 3rem;
    margin-top: 2em;
    line-height: 3.3rem;
}

.subhead{
    font-size: 1.4rem;
    margin-top: .5em;
    color: black;

}

.circle{
    position: absolute;
    height: 20em;
    width: 20em;
    background-color: #ffde59;
    border-radius: 50%;
    display: inline-block;
    top: 5%;
    left: -3.5em;
    z-index: -4;

}

ul{
    list-style: none;
    padding: 0;
    margin-top: 5em;
    a{
        color: black;
        padding: 0.75em 2em;
        display: block;
        //width: 100%;
        &:hover{
            background: #233e97;
            color: #ffde59;
        }
    }
}

#close{
    position: absolute;
    margin: 2em;
    right: 20em;
    top: -1em;
}

.services{ //^^^^^^^^^^^^^^^^^^^^^^^^^^^^^SERVICES%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    h1{
        text-align: center;
        margin: 0 auto;
        padding: 0;
        text-transform: uppercase;
        color: #233e97;
        margin-bottom: 5rem;
    }
    #bins, #paperBin{
        width: 100%;
        object-fit: cover;
        height: 22em;
        margin-bottom: 2.5em;
        object-position: 0 100%;
    }
    #bagsLawn{
        width: 100%;
        object-fit: cover;
        height: 22em;
        margin-bottom: 2.5em;
        object-position: 0 50%;
    }
    .topic{
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .info{
        font-size: 1.25rem;
        line-height: 2rem;
    }
    .infoL{
        font-size: 1.25rem;
        line-height: 2rem;

    }
    .infoDot{
        position: absolute;
        height: 20em;
        width: 20em;
        background-color: #ffde59;
        border-radius: 50%;
        display: inline-block;
        top: 82em;
        left: 14em;
        z-index: -3;
    }
    .hexa{
        position: absolute;
        top: 5.54em;
        left: .85em;
        z-index: -3;
    }
    .infoDot2{
        position: absolute;
        height: 20em;
        width: 20em;
        background-color: #ffde59;
        border-radius: 50%;
        display: inline-block;
        top: 158em;
        left: 14em;
        z-index: -3;
    }
    .getStarted{
        display: block;
        border: none;
        height: 3em;
        background-color: #ffde59;
        width: 10em;
        color: #233e97;
        font-size: 2rem;
        font-weight: bold;
        box-shadow: 5px 5px 3px #233e97;
        margin: 0 auto;
    }
}

// most of this is good for tablet but must resize for mobile and desktop %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
.calendarS > .calendarH{
    text-align: center;
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    color: #233e97;
    margin-bottom: -7em;
    text-shadow: 3px 3px 1px #ffde59;
}

.container{
    margin: 10em 50%;
    width: 0;
    height: 100vh;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    //display: none;
}

.calendar{//adjust overall width and height
    width: 30rem; //45rem;
    height: 37rem; //52rem;
    background-color: rgb(71, 71, 71);
    box-shadow: 0 .5rem 3rem black(0,0,0,0.4);
    border-radius: 5px; //10px;
    //display: none;
}

.month{//readjust height
    width: 100%;
    height: 8rem; //12rem;
    background-color: #233e97;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem; //.2rem;
    text-align: center;
    text-shadow: 0 0.3rem .5rem black(0,0,0,0.5);
    border-radius: 5px; //10px;
    i{
        margin: 0 30px; //0 20px;
        font-size: 2.5rem; //2.5rem
        cursor: pointer;
    }
    h1{
        font-size: 2rem; //3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2rem; //0.2rem;
        margin-top: 5px; //-5px;
        margin-bottom: 0rem; //1rem
    }
    p{
        font-size: 1.2rem; //1.6rem;
    }
}

.weekdays{//will have to change padding and height
    width: 100%;
    height: 3rem; //5rem;
    padding: 0 0.2rem; //0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div{ //might have to change font size and recalculate width to new calendar.width
    font-size: 1.2rem; //1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem; //0.1rem;
    width: calc(30rem/7); //calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.3rem 0.5rem black (0,0,0,0.5);
}

.days{ // might have to change padding
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem; //0.2rem;
}

.days div{ //change font size and calc to new calendar.width along with height
    font-size: 1rem; //1.4rem;
    margin: 0.2rem; //0.3rem;
    width: calc(26.8rem/7); //calc(40.4rem/7);
    height: 3.85rem; //5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem black(0,0,0,0.5);
    transition: background-color 0.2s;
}

.prev-date, .next-date{
    opacity: 0.5;
}

.today{
    background-color: #ffde59;
    cursor: pointer;
    color: black;
}

.days div:hover:not(.today){
    background-color: #233e97;
    border: 0.2rem solid gray;
}
// break section picture and arrow %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
section.break{
    .breakImg{
        position: absolute;
        top: 310%;
        background: url(../images/Hero.png);
        width: 100%;
        height: 40%;
        z-index: -10;
        background-size: cover;
        background-position: 0 30%;
    }
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 18rem 10rem;
    }
    #downArrow{
        position: absolute;
        margin: .25em;
        //right: 2em;
        top: 31em;
        font-size: 7rem;
        color: black;
        stroke: gray;
        stroke-width: .05rem;
    }
}

.breakTxt{
    text-align: center;
    flex-wrap: wrap;
    font-size: 2rem;
    font-weight: bold;
    color: #233e97;
    text-shadow: 3px 3px 1px #ffde59;
}

//CONTACT FORM %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
.contactUs{
    h1{
        text-align: center;
        margin-top: -12rem;
        padding: 0;
        text-transform: uppercase;
        color: #233e97;
        margin-bottom: 5rem;
    }
}
.rectContact{
    display: flex;
    justify-content: center;
    label{
        display: block;
        text-align: right;
        width: 10em;
        float: left;
        margin-right: 1em;
        font-size: 1.3rem;
        font-weight: bold;
        color: #233e97;
    }
    input, textarea, select{
        font-weight: 400;
        margin: 0 2em;
        display: block;
        width: 20em;
        min-height: 2em;
        margin-bottom: 3em;
    }
    input[type="submit"]{
        display: block;
        width: 20em;
        margin-left: 6em;
        margin-top: 3em;
        font-size: 1.5rem;
        background-color: #233e97;
        border-color: #233e97;
        color: #ffde59;
        box-shadow: 2px 2px 1px black;
    }
}
//FOOTER %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
footer{
    width: 100%;
    background-color: lightgray;
    //border-top: 1px solid gray;
    text-align: center;
    font-size: 1.2rem;
    a{
        color: #233e97;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 680px){ //$$$$%$%$%$%$%$%$%$%$%$%$$%$%$%$%%$% TABLET $%$%$%$%$%$%$%$%$%$%$%$%$%%$%$%%$
    body{
        margin: 2em 5em;
        //font-family: 'Poppins', sans-serif;
    }
    .services{
        #paperBin, #bagsLawn{
            width: 100%;
            object-fit: cover;
            height: 22em;
            margin-bottom: 2.5em;
            object-position: 0 50%;
        }
        .hexa{
            top: 5.35em;
        }
        .infoDot2{
            top: 145em;
        }
    }
    section.break{
        p{
            margin-bottom: 25rem;
        }
    }

    // hero{
    //     .logoMainDiv{
            
    //         .logoMain{
    //             position: block;
    //             margin-right: auto;
    //             margin-left: auto;
    //             height: 45em;
    //             width: 45em;
    //         }
    //     }
    // }
}
