* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 1.5em;
}
body a {
  text-decoration: none;
  font-size: 1.3rem;
}

.heroImg {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/trashBags.jpg);
  width: 100%;
  height: 110vh;
  z-index: -10;
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
}

.nameMenu {
  color: #233e97;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
}
header #menu {
  width: 3em;
  margin-top: -0.6em;
  cursor: pointer;
}

nav {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  text-transform: uppercase;
  transform: translateX(100%);
  z-index: 10;
}

section.hero .cont {
  color: #233e97;
  height: 100vh;
}
section.hero .logo {
  position: absolute;
  top: 20em;
  left: -3.3em;
  height: 45em;
  width: 45em;
}

h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.4rem;
  margin-top: 0.5em;
  color: black;
}

.circle {
  position: absolute;
  height: 20em;
  width: 20em;
  background-color: #ffde59;
  border-radius: 50%;
  display: inline-block;
  top: 5%;
  left: -3.5em;
  z-index: -4;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 5em;
}
ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
}
ul a:hover {
  background: #233e97;
  color: #ffde59;
}

#close {
  position: absolute;
  margin: 2em;
  right: 20em;
  top: -1em;
}

.services h1 {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  color: #233e97;
  margin-bottom: 5rem;
}
.services img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 22em;
}
.services .topic {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.services .info {
  font-size: 1.25rem;
  line-height: 2rem;
}
.services .infoL {
  font-size: 1.25rem;
  line-height: 2rem;
}
.services .infoDot {
  position: absolute;
  height: 20em;
  width: 20em;
  background-color: #ffde59;
  border-radius: 50%;
  display: inline-block;
  top: 75em;
  left: 15em;
  z-index: -3;
}
.services .hexa {
  position: absolute;
  top: 5.1em;
  left: 0.85em;
  z-index: -3;
}
.services .infoDot2 {
  position: absolute;
  height: 20em;
  width: 20em;
  background-color: #ffde59;
  border-radius: 50%;
  display: inline-block;
  top: 142em;
  left: 15em;
  z-index: -3;
}

.container {
  margin: 10em 50%;
  width: 0;
  height: 100vh;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: rgb(71, 71, 71);
  box-shadow: 0 0.5rem 3rem black(0, 0, 0, 0.4);
  border-radius: 10px;
}

.month {
  width: 100%;
  height: 12rem;
  background-color: rgb(0, 70, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem black(0, 0, 0, 0.5);
  border-radius: 10px;
}
.month i {
  margin: 0 20px;
  font-size: 2.5rem;
  cursor: pointer;
}
.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: 6.3142857143rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.3rem 0.5rem black 0, 0, 0, 0.5;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: 5.7714285714rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem black(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.prev-date, .next-date {
  opacity: 0.5;
}

.today {
  background-color: rgb(0, 70, 0);
  cursor: pointer;
}

.days div:hover:not(.today) {
  background-color: black;
  border: 0.2rem solid gray;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */